In [ ]:
import pandas as pd

In [12]:
matches = pd.read_csv("../data/results_2223_with_gw.csv")

In [13]:
matches.head()

,date,home_team,away_team,home_score,away_score,gameweek
0,2022-08-05T19:00:00Z,Crystal Palace,Arsenal,0,2,1
1,2022-08-06T11:30:00Z,Fulham,Liverpool,2,2,1
2,2022-08-06T14:00:00Z,Bournemouth,Aston Villa,2,0,1
3,2022-08-06T14:00:00Z,Leeds,Wolves,2,1,1
4,2022-08-06T14:00:00Z,Newcastle,Nott'm Forest,2,0,1

In [15]:
matches["date"] = pd.to_datetime(matches["date"])

date          datetime64[ns, UTC]
home_team                  object
away_team                  object
home_score                  int64
away_score                  int64
gameweek                    int64
dtype: object